<div class="row">
    <div class="col m3">
        <div class="calendar z-depth-2">
            <div class="month-advance-container">
                <div class="well month-arrow controls">
                    <%= link_to calendar_show_path(date: @date - 1.month), class: "month-advance-button pull-left"  do %>
                        <i class="tiny material-icons">arrow_back</i>
                    <% end %>
                    <span class="month-advance-text"><%= "#{@date.strftime("%B")} #{@date.year}" %></span>
                    <%= link_to calendar_show_path(date: @date + 1.month), class: "month-advance-button pull-right" do %>
                        <i class="tiny material-icons">arrow_forward</i>
                    <% end %>
                </div>
            </div>
            <div class="">
                <%= calendar @date do |date| %>
                    <%= date.day %>
                <% end %>
            </div>
        </div>
    </div>
</div>
