<div class='admin-container grey lighten-3 z-depth-1'>
    <span><%= link_to 'Cohorts',
        admin_cohorts_path,
        class: 'waves-effect waves-spanght btn blue' %>
    </span>
    <span><%= link_to 'Students',
        admin_users_path(user: 'student'),
        class: 'waves-effect waves-spanght btn blue' %>
    </span>
    <span><%= link_to 'Groups',
        admin_groups_path,
        class: 'waves-effect waves-spanght btn blue' %>
    </span>
    <span><%= link_to 'Mentors',
        admin_users_path(user: 'mentor'),
        class: 'waves-effect waves-spanght btn blue' %>
    </span>
    <% if current_page?(admin_cohorts_path) %>
        <span><%= link_to 'Add Cohort',
            new_admin_cohort_path,
            class: 'waves-effect waves-spanght btn light-green accent-4' %>
        </span>
    <% end %>
    <% if current_page?(admin_users_path) && @student %>
        <span><%= link_to @button_title,
            new_admin_user_path(user: 'student'),
            class: 'waves-effect waves-spanght btn light-green accent-4' %>
        </span>
    <% end %>
    <% if current_page?(admin_users_path) && @mentor %>
        <span><%= link_to @button_title,
            new_admin_user_path(user: 'mentor'),
            class: 'waves-effect waves-spanght btn light-green accent-4' %>
        </span>
    <% end %>
    <% if current_page?(admin_groups_path) %>
        <span><%= link_to 'Add Group',
            new_admin_group_path,
            class: 'waves-effect waves-spanght btn light-green accent-4' %>
        </span>
    <% end %>
</div>
