<h1>Mentors</h1>

<!-- Mentor Table -->
<table class='highlight responsive-table'>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Company</th>
      <th>Specialty</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <% 15.times do %>   <!-- this will be changed once database created -->
      <tr>
        <td><%= image_tag 'user.jpg', class: 'demo-avatar' %></td>
        <td><%= Faker::Name.name %></td>
        <td><%= Faker::Company.name %></td>
        <td><%= Faker::Job.field %></td>
        <td><%= Faker::Internet.email %></td>
        <td><%= Faker::PhoneNumber.cell_phone %></td>
      </tr>
    <% end %> 
  </tbody>
</table>
