<!-- Mentor Table -->
<table class='highlight responsive-table'>
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Company</th>
            <th>Specialty</th>
            <th>Email</th>
            <th>Phone</th>
            <th>LinkedIn</th>
        </tr>
    </thead>
    <tbody>
        <% if @mentors %>
            <% @mentors.each do |mentor| %>
                <tr>
                    <% if mentor.user_information['avatar'].present? %>
                        <td><%= image_tag mentor.user_information['avatar'],
                            class: 'demo-avatar' %></td>
                    <% else %>
                        <td><%= image_tag "user_avatar_2.png", class: 'demo-avatar' %></td>
                    <% end %>
                    <td><%= mentor.name %></td>
                    <td><%= mentor.user_information["company"] %></td>
                    <td><%= mentor.user_information["specialty"] %></td>
                    <td><a href="mailto:<%= mentor.email %>"> <%= mentor.email %> </td>
                    <td><%= mentor.user_information["phone"] %></td>
                    <td>
                        <div id="linkedin">
                            <%= link_to image_tag('linkedin.png',
                                                  class: 'btn-floating waves-effect waves-light'),
                                                  mentor.user_information["linkedin"],
                                                  target: '_blank' %>
                        </div>
                    </td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>
