<!-- Student Table -->
<% @cohorts_groups.each do |cohort| %>
    <div class='chip z-depth-1'
        style='background-color: <%= cohort.settings["color"].downcase %>'>
        <%= cohort.name %>
        <i onclick="toggle_cohort_div('<%= cohort.name.split(' ').join('-') %>');" class="close material-icons">close</i>
    </div>
<% end %>

<div id="clear-filter-chip" onclick='clear_filter()' class='chip z-depth-1 clear-chip'>Clear Filter</div>

<div class="mb-m"></div>

<% @cohorts.each do |cohort| %>
    <div class="card">
        <table id='<%= cohort.empty? ? 'empty' :
            cohort.first.cohorts[0].name.split(' ').join('-') %>'
            class='highlight responsive-table'>
            <thead>
                <tr>
                    <!-- FIXME OMG I want to puke on the below line of code -->
                    <th style='color: <%= cohort.empty? ? '#ccc' :
                        cohort.first.cohorts[0].settings["color"]
                        .downcase %>'><%= cohort.empty? ? 'No students' :
                    cohort.first.cohorts[0].name %></th>
                <th>Name</th>
                <th>Email</th>
                <th>Socail Media</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% cohort.each do |student| %>
                <tr>
                    <% if student.user_information.try(:[], 'avatar').present? %>
                        <td><%= image_tag student.user_information['avatar'],
                            class: 'avatar-small z-depth-1' %></td>
                    <% else %>
                        <td><%= image_tag 'user.jpg',
                            class: 'avatar-small z-depth-1' %></td>
                    <% end %>
                    <td><%= student.name %></td>
                    <td><a href="mailto:<%= student['email'] %>"><%= student["email"] %></td>
                        <td>
                            <div id="admin-social-media-container">
                                <% if student.user_information.try(:[], 'social_media').present? %>
                                    <% student.user_information["social_media"].each do |media| %>
                                        <%= get_social_media(media) %>
                                    <% end %>
                                <% end %>
                            </div>
                        </td>
                        <td>

                            <%= link_to edit_admin_user_path(student) do %>
                                <i class="material-icons green z-depth-1 small-button">edit</i>
                            <% end %>
                            <%= link_to admin_archive_path(student),
                                method: :student_archive,
                                data: { confirm: "Are you sure about archive #{student.first_name}" } do %>
                                <i class="material-icons red z-depth-1 small-button">delete_forever</i>
                            <% end %>
                            <i onclick="displayStudentInformation('<%= student.id %>');" class="material-icons blue z-depth-1 small-button">expand_more</i>
                        </td>
                    </tr>
                    <tr id='<%= student.id %>'class='student-info'
                        style='display: none'>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
<% end %>
